In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)

##  import data

In [60]:
raw_data = pd.read_csv('train.csv')
raw_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
data_test = pd.read_csv('test.csv')
data_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

## Handling Missing values

In [82]:
data = raw_data.copy()
features_mv = [col for col in data.columns if data[col].isnull().sum() > 1 and data[col].dtypes == "O"]
features_mv



df_col_mv = pd.DataFrame()
df_col_mv['Features'] = data.columns.values
df_col_mv['missing_values'] = list(data.isnull().sum()) 
df_col_mv['missing_values_%'] = df_col_mv['missing_values']*100/len(data)
df_col_mv['dtypes'] = list(data.dtypes)

df_col_mv = df_col_mv[df_col_mv['missing_values'] != 0]

# df_col_mv_cat = df_col_mv[(df_col_mv['missing_values'] != 0) & (df_col_mv['dtypes'] == 'object')]#.sort_values(['missing_values_%'])
# df_col_mv_cat = df_col_mv[(df_col_mv['missing_values'] != 0) & (df_col_mv['dtypes'] != 'object')]

# df_col_mv_cat_5 = df_col_mv_cat[df_col_mv_cat['missing_values_%']>6]

# # drop those categorical feature having more than 6% missing values
# data_no_mv_cat = data.drop(df_col_mv_cat['Features'].values, axis=1)

# # drop observations if missing values for any feature is less than 6%
# data_no_mv_cat = data.drop(df_col_mv_cat['Features'].values, axis=0)

In [90]:
data_no_mv = data;

for feature in df_col_mv.columns:
    mv_per = df_col_mv[df_col_mv['Features'] == feature]['missing_values_%'].values[0]
    print(feature+ ' = '+mv_per+'%')
#     if mv_per > 6:
#         print('d')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [88]:
df_col_mv#[df_col_mv['Features'] == 'Alley']['missing_values_%'].values[0]

        Features  missing_values  missing_values_%   dtypes
3    LotFrontage             259         17.739726  float64
6          Alley            1369         93.767123   object
25    MasVnrType               8          0.547945   object
26    MasVnrArea               8          0.547945  float64
30      BsmtQual              37          2.534247   object
31      BsmtCond              37          2.534247   object
32  BsmtExposure              38          2.602740   object
33  BsmtFinType1              37          2.534247   object
35  BsmtFinType2              38          2.602740   object
42    Electrical               1          0.068493   object
57   FireplaceQu             690         47.260274   object
58    GarageType              81          5.547945   object
59   GarageYrBlt              81          5.547945  float64
60  GarageFinish              81          5.547945   object
63    GarageQual              81          5.547945   object
64    GarageCond              81          5.547945   object
72        PoolQC            1453         99.520548   object
73         Fence            1179         80.753425   object
74   MiscFeature            1406         96.301370   object

In [72]:
np.array([1,2,3])-np.array([1,1,1])

array([0, 1, 2])